<section class="dos">
  <h2>Expeerience and education</h2>
  <p>
    Argentina programa course
  </p>
  <h2>knowledge</h2>
  <p>
      These are some of the technologies that I am awarw of.
  </p>
  <div class="aptitudes">
      <div class="tech-list">
          <img src="../../../assets/angular.png" class="tech" alt="">
          <img src="../../../assets/css.png" class="tech" alt="">
          <img src="../../../assets/html.png" class="tech" alt="">
      </div>
      <div class="tech-list">
          <img src="../../../assets/java-logo-1.png" class="tech" alt="">
          <img src="../../../assets/JavaScript-logo.png" class="tech" alt="">
          <img src="../../../assets/Typescript_logo_2020.svg.png" class="tech" alt="">
      </div>
  </div>
