<section class="uno">

  <div class="caja-central">

      <div class="caja-cara">
          <img class="cara" src="../../../assets/perfil.jfif" alt="">
      </div>
      <div class="caja-presentacion">
          <div>
              <h1>Welcome! Here is a brief description of me💙💙💙</h1>
              <p class="presentacion">
                Hi! My name is Valentina Aldalla, I am Full Stack Developer Jr. Finish the Argentina Programa course in Janury 2023.
              </p>
          </div>
      </div>
  </div>
</section>
